<div class="personal-chat-component">
    
    <!-- Contacs Area -->
    <div class="contacts-area">
        
        <!-- Current User Details -->
        <mat-card class="selected-contact-card">
            <mat-card-header>                    
                <img mat-card-avatar src="{{loggedInUser?.avatar}}"/>        
            </mat-card-header>
        </mat-card>

        <!-- Lateral Contact List Area -->
        <nav >
            <mat-selection-list [multiple]="false">
                <mat-list-option class="contact-option" *ngFor="let contact of contacts" (click)="openContact(contact)">
                    <img mat-list-avatar src="{{contact?.avatar}}"/>
                    <h1 matLine matLine style="font-weight: bold">{{contact.name}}</h1>
                    <h3 *ngIf="contact.chatHistory.length === 0"  matLine>{{contact.status}}</h3>
                    <h3 *ngIf="contact.chatHistory.length > 0" matLine style="font-weight: bold">{{contact.chatHistory[contact.chatHistory.length - 1]?.payload.content}}</h3>
                    <mat-divider></mat-divider>
                </mat-list-option>
            </mat-selection-list>  
        </nav>
    </div>    

    <!-- Chat History Area -->
    <div class="chat-history-area">

        <!-- Selected Contact Details Area -->
        <mat-card class="selected-contact-card">
            <mat-card-header>                    
                <img mat-card-avatar src="{{selectedContact?.avatar}}"/>        
                <mat-card-title>{{selectedContact?.name}}</mat-card-title>
                <mat-card-subtitle>{{selectedContact?.status}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <!-- Chat History -->
        <div class="message-area-container">
            <mat-card class="message-container" *ngFor="let message of selectedContact?.chatHistory">
                <mat-card-content>{{message.payload.content}}</mat-card-content>
            </mat-card>
        </div>

        <!-- Message Typing area -->
        <mat-card class="type-message-card">
            <mat-card-footer style="padding: 0px 50px;">
                <div class="message-type-area">
                    <mat-form-field hintLabel="Max 280 characters" appearance="fill">
                        <mat-label>Message</mat-label>
                        <input #messageinput matInput matNativeControl maxlength="280" placeholder="Type your message">
                        <mat-hint align="end">{{ messageinput.value?.length || 0 }}/280</mat-hint>
                    </mat-form-field>
        
                    <button mat-icon-button (click)="sendMessage(messageinput.value)" style="margin-left: 20px;">
                        <mat-icon [inline]="true" class="mediumIcon">send</mat-icon>
                    </button> 
                </div>   
            </mat-card-footer>
        </mat-card>

    </div>

</div>    