textarea {
    resize: none;
}

mat-card {
    border-radius: 0%;
}

mat-selection-list {
    padding-top: 0px;
}

.main-sidenav-container {
    width: auto;
    height: 100%;  
}
  
.main-sidenav-content {
    display: flex; 
    width: auto;
    height: 100%;
}

.message-list-container {

    background-color: grey;

}

.message-container {
    width: 100%;
    height: 96.4%;
    background-color: grey;
}

.message-area {
    background-color: #CED0CE;
    border-radius: 1%;
    height: 93%;
}

.message-area textarea {
    width: 500px !important;
    height: 600px !important;
    resize: none;
}

.message-type-area mat-form-field {
    width: 97%; 
}
