mat-card {
    border-radius: 0%;
}

mat-selection-list {
    padding-top: 0px;
}

.main-sidenav-container {
    width: auto;
    height: 100%;  
}
  
.main-sidenav-content {
    display: flex; 
    width: auto;
    height: 100%;
}

.message-list-container {
    background-color: grey;
}

.message-card-container {
    width: 100%;
    background-color: grey;
}

/* where the messages are shown */
.message-area {

    
    display: flex;
    flex-direction: column;
    min-width: 100px;
    height: 83%;

    background-color: #CED0CE;
    border-radius: 1%;
}

.message-area-container {
    flex: 1;
    min-height: 20px;
    overflow: auto;
}

table {
    width: 100%;
    border-radius: 1%;
    min-height: 100%;
}

.mat-column-userId {
    flex: 0 0 100px;
    width: 100%;
}

.message-type-area mat-form-field {
    width: 90%; 
}

.mediumIcon {
    font-size: 35px;
}