mat-card {
    border-radius: 0%;
}

.personal-chat-component {
    display: flex;
    flex-direction: row;  
    width: 85%;
    margin: auto;
    height: 100%;
}

.contacts-area {
    width: 18%;
    height: 100%;
    background-color: white;
    color: black;
}

.chat-history-area {    
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 100%;
    background-color: #CED0CE;
}

.contact-option {
    color: black;
}

.selected-contact-card {
    height: 5%;
}

.type-message-card {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.message-container {
    background-color: white;
    color: black;
    margin: auto;
    width: 80%;
    margin-top: 4px;
    border-radius: 2%;
}

.message-container-received-message {
    text-align: left; 
    font-size: small; 
    color: blueviolet; 
    font-weight: bold; 
    margin-left: 0px;
}

.message-container-sent-message {
    text-align: left; 
    font-size: small; 
    color: green; 
    font-weight: bold; 
    margin-left: 0px;
}

.message-area-container {
    flex: 1;
    min-height: 20px;
    overflow: auto;
}

table {
    width: 100%;
    border-radius: 1%;
    min-height: 100%;
}

.mat-column-userId {
    flex: 0 0 100px;
    width: 100%;
}

.message-type-area mat-form-field {
    width: 90%; 
}

.mediumIcon {
    font-size: 35px;
}