<mat-card style="background-color: white; color: black">

  <mat-card-content>

    <img mat-card-image src="assets/logo.png">

    <h1 style="text-align: center">SocialChat</h1>
    <p style="text-align: center">{{description}}</p>

    <div class="container">
      <div class="developers-container">
        <h3>Developers</h3>
        <ul>
          <li *ngFor="let contributor of contributors">
            {{contributor.name}}
            (<a href="{{contributor.url}}" target="_blank">page</a>)
            (<a href="mailto:{{contributor.email}}" target="_blank">contact</a>)
          </li>
        </ul>
      </div>
      <div class="repository-container">
        <h3>Repositories</h3>
        <ul>
          <li>
            <a href="{{repositoryUrl}}" target="_blank">{{repoName}}</a>
          </li>
          <li>
            <a href="https://github.com/willianmga/reactive-chat-back" target="_blank">reactive-chat-back</a>
          </li>
        </ul>

      </div>
      <div class="version-container">
        <h3>Version</h3>
        <ul>
          <li>Front-end: {{version}}</li>
          <li>Back-end: 1.0.0</li>
        </ul>

      </div>
    </div>

  </mat-card-content>
  <mat-card-footer>
    <p style="text-align: right; margin: 20px">
      <button mat-raised-button color="primary" (click)="close()">Close</button>
    </p>

  </mat-card-footer>
</mat-card>


