
<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Test" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<mat-sidenav-container class="main-sidenav-container" autosize>

  <mat-sidenav #sidenav mode="side" color="primary"  opened [fixedInViewport]="false" [fixedTopGap]="false" [fixedBottomGap]="true">
    <nav>
      <mat-selection-list [multiple]="false">
        <mat-list-option routerLink="notifications">
          <button mat-icon-button aria-label="Test" routerLink="notifications">
            <mat-icon>notifications_active</mat-icon>
          </button>
        </mat-list-option>
        <mat-list-option routerLink="chat">
          <button mat-icon-button aria-label="Test">
            <mat-icon>chat</mat-icon>
          </button>    
        </mat-list-option>
        <mat-list-option routerLink="groups">
          <button mat-icon-button aria-label="Test">
            <mat-icon>group</mat-icon>
          </button>    
        </mat-list-option>      

        <mat-list-option routerLink="settings">
          <button mat-icon-button aria-label="Test">
            <mat-icon>settings</mat-icon>
          </button>    
        </mat-list-option>          
      </mat-selection-list>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>