<div class="container">
  <header>
    <!-- Toolbar Section -->
    <mat-toolbar color="primary">
      <span>{{title}}</span>
      <span class="spacer"></span>

      <div *ngIf="isLoggedIn()">
        <!-- Notifications Button -->
        <button mat-icon-button  [matMenuTriggerFor]="notification" style="margin-right: 10px;">
          <mat-icon [inline]="true" style="font-size: 30px;">notifications_none</mat-icon>
        </button>
        <mat-menu #notification="matMenu">
          <span mat-menu-item>No notifications to show</span>
        </mat-menu>

        <!-- Switch User Button -->
        <button mat-icon-button  [matMenuTriggerFor]="menu">
          <mat-icon [inline]="true" style="font-size: 30px;">account_circle</mat-icon>
          <!-- TODO: fix image <img mat-card-avatar src="{{ sessionDetails?.loggedInUser?.avatar }}"/> -->
        </button>
        <mat-menu #menu="matMenu">
          <span mat-menu-item>Logged as: {{sessionDetails?.loggedInUser?.name}}</span>
          <span mat-menu-item (click)="showSystemInfo()">System info</span>
          <span mat-menu-item (click)="logout()">Logout</span>
        </mat-menu>
      </div>

    </mat-toolbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
