.main-sidenav-container {
    width: auto;
    height: 93.2%;  
}
  
.main-sidenav-content {
    display: flex; 
    width: auto;
    height: 93.2%;
    align-items: center;
    justify-content: center;
}
