.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.spacer {
    flex: 1 1 auto;
}

@media screen and (max-width: var(--mobile-max-width-size)) {
  .header {
    display: none;
    height: 1vh;
  }
}
