.container {
  display: grid;
  height: 100vh;
  background: var(--background-color);
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-areas:
    "nav"
    "main";
}

nav {
  grid-area: nav;
  height: 8vh;

}

main {
  grid-area: main;
  height: 92vh;
}

.spacer {
    flex: 1 1 auto;
}

@media screen and (max-width: var(--mobile-max-width-size)) {
  .header {
    display: none;
    height: 1vh;
  }
}
