mat-card {
  border-radius: 0;
}

/*  Containers */

.main-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "contacts-area"
    "chat-history-area";
}

.contacts-area {
  min-height: calc(100vh - var(--toolbar-fixed-height));
  grid-row: 1;
  grid-area: contacts-area;
  background: white;
}

.chat-history-area {
  grid-area: chat-history-area;
  background: #CED0CE;
  grid-row: 1;
  display: grid;
  height: calc(100vh - var(--toolbar-fixed-height));
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 80px;
  grid-template-areas:
    "contact-details-container"
    "message-history-container"
    "type-message-container";
}

/* Contacts Area  */

.contact-option {
  color: black;
}

.contact-card {
  height: 50px;
  max-height: 50px;
}

/* Chat History Area */

.contact-details-container {
  grid-area: contact-details-container;
}

.message-history-container {
  grid-area: message-history-container;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

.type-message-container {
  grid-area: type-message-container;
  padding: 0 15px;
  background: grey;
}

.message-type-area {
  color: white;
}

.message-container {
  background-color: white;
  color: var(--background-color);
  margin: auto;
  width: 80%;
  margin-top: 4px;
  border-radius: 2%;
}

.message-container-received-message {
  text-align: left;
  font-size: small;
  color: blueviolet;
  font-weight: bold;
  margin-left: 0px;
}

.message-container-sent-message {
  text-align: left;
  font-size: small;
  color: green;
  font-weight: bold;
  margin-left: 0px;
}

.mediumIcon {
  font-size: 35px;
}

@media only screen and (min-width: 450px) {

  /* Container */

  .main-container {
    grid-template-columns: 0.5fr 1fr 3fr 0.5fr ;
    grid-template-areas:
    " . contacts-area chat-history-area . ";
  }

  .contacts-area {
    height: calc(100vh - 57px);
    min-width: 256px;
    grid-area: contacts-area;
  }

  .chat-history-area {
    min-width: 480px;
    grid-area: chat-history-area;
    grid-template-rows: 90px 1fr 110px;
  }

  /* Chat History Area */

  .type-message-container {
    width: 85%;
    height: auto;
    padding: 15px;
    margin: 15px auto;
  }

}
