/*  Containers */

.main-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "contacts-area"
    "chat-history-area";
}

.contacts-area {
  min-height: calc(100vh - var(--toolbar-fixed-height));
  grid-row: 1;
  grid-area: contacts-area;
  background: white;
}

.chat-history-area {
  grid-area: chat-history-area;
  grid-row: 1;
  display: grid;
  height: calc(100vh - var(--toolbar-fixed-height));
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "select-contact-container"
    "chat-history-container";
}

.select-contact-container {
  grid-area: select-contact-container;
  display: none;
}

.chat-history-container {
  background: var(--chat-history-background-color);
  grid-area: chat-history-container;
  grid-row: 1;
  display: grid;
  height: calc(100vh - var(--toolbar-fixed-height));
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 80px;
  grid-template-areas:
    "contact-details-container"
    "message-history-container"
    "type-message-container";
}

/* Contacts Area  */

.contact-option {
  color: black;
}

.contact-card {
  height: 36px;
  max-height: 36px;
}

/* Chat History Area */

.contact-details-container {
  grid-area: contact-details-container;
}

.message-history-container {
  grid-area: message-history-container;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

.type-message-container {
  grid-area: type-message-container;
  padding: 0 15px;
  background: grey;
}

.message-type-area {
  color: white;
}

/* Start of message styling  */

.message-container {
  margin: auto;
  width: 95%;
  margin-top: 4px;
  display: grid;
  padding: 10px;
  grid-template-columns: 68px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "image title"
    "image subtitle"
    "image content";
}

.image {
  grid-area: image;
}

.image img {
  max-width: 48px;
}

.title {
  grid-area: title;
  font-weight: bold;
  font-size: large;
}

.subtitle {
  grid-area: subtitle;
  font-size: small;
}

.content {
  font-size: medium;
  margin-top: 5px;
}


/* End of message styling  */

.message-container-received-message {
  text-align: left;
  font-size: small;
  color: blueviolet;
  font-weight: bold;
  margin-left: 0px;
}

.message-container-sent-message {
  text-align: left;
  font-size: small;
  color: green;
  font-weight: bold;
  margin-left: 0px;
}

.mediumIcon {
  font-size: 35px;
}

@media only screen and (min-width: 450px) {

  /* Container */

  .main-container {
    grid-template-columns: 256px 1fr;
    grid-template-areas:
    "contacts-area chat-history-area";
  }

  .contacts-area {
    background: var(--contacts-bar-color);
    height: calc(100vh - 57px);
    min-width: 256px;
    max-width: 256px;
    grid-area: contacts-area;
  }

  .chat-history-area {
    min-width: 480px;
    grid-area: chat-history-area;
    grid-template-rows: 1fr 1fr;
  }

  .select-contact-container {
    background: var(--chat-history-background-color);
    min-width: 480px;
    grid-template-rows: 1fr;
    height: calc(100vh - var(--toolbar-fixed-height));
    display: flex;
    flex-direction: column;
  }

  .chat-history-container {
    min-width: 480px;
    grid-area: chat-history-container;
    grid-template-rows: 90px 1fr 110px;
  }

  /* Chat History Area */

  .contact-card {
    color: black;
    background: white;
  }

  .contact-card mat-card-title mat-card-subtitle {
    color: black;
  }

  .user-contact-card {
    height: 36px;
    max-height: 36px;
    background: var(--contacts-bar-color);
  }

  .type-message-container {
    width: 85%;
    height: auto;
    padding: 15px;
    margin: 15px auto;
  }

  .contact-list mat-selection-list {
    padding-top: 0;
    color: black;
  }

  .contact-list mat-list-option {
    color: whitesmoke;
    height: 32px;
  }

  .contact-list mat-list-option:hover {
    background: grey;
    color: white;
  }

  .contact-list mat-list-option[aria-selected="true"] {
    background: var(--selected-item-color);
    color: white;
    font-weight: bold;
  }

}
