<section *ngIf="!dataLoadFinished">
  <p style="">
    <mat-spinner [diameter]="60" style="margin: 50px auto;"></mat-spinner>
  </p>
</section>

<section class="main-container" *ngIf="dataLoadFinished">

  <!-- Contacts Area -->
  <div class="contacts-area" *ngIf="showContactsList()" >

    <!-- Current User Details -->
    <mat-card *ngIf="!mobileMode" class="user-contact-card">
      <mat-card-header>
        <img mat-card-avatar src="{{sessionDetails?.loggedInUser?.avatar}}"/>
        <mat-card-title>{{sessionDetails?.loggedInUser?.name}}</mat-card-title>
        <mat-card-subtitle>Online</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <!-- Lateral Contact List Area: Mobile Mode -->
    <mat-selection-list [multiple]="false" *ngIf="mobileMode">
      <mat-list-option class="contact-option" *ngFor="let contact of contacts" (click)="openContact(contact)">
        <img mat-list-avatar src="{{contact?.avatar}}"/>
        <span style="font-weight: bold">{{contact.name}}</span>
        <p style="font-size: x-small" *ngIf="!hasUnreadMessage(contact)">{{contact.description}}</p>
        <p style="font-size: x-small; font-weight: bold" *ngIf="hasUnreadMessage(contact)">{{ getLastReceivedMessage(contact) }}</p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>

    <!-- Lateral Contact List Area: Desktop/Tablet Mode -->
    <mat-selection-list class="contact-list" [multiple]="false"  *ngIf="!mobileMode">
      <mat-list-option *ngFor="let contact of contacts" (click)="openContact(contact)">
        {{contact.name}}
      </mat-list-option>
    </mat-selection-list>

  </div>

  <!-- Chat History Area -->
  <div class="chat-history-area">

    <section class="select-contact-container" *ngIf="!showMessageHistory()">
      <section class="contact-details-container">
        <mat-card class="contact-card">
        </mat-card>
      </section>
    </section>

    <!-- Selected Contact Details Area -->
    <section class="chat-history-container" *ngIf="showMessageHistory()">
      <section class="contact-details-container">
        <mat-card class="contact-card">
          <mat-card-header>
            <img mat-card-avatar src="{{selectedContact?.avatar}}"/>
            <mat-card-title>{{selectedContact?.name}}</mat-card-title>
            <mat-card-subtitle>{{selectedContact?.description}}</mat-card-subtitle>
            <!-- TODO: move button to the right -->
            <button mat-icon-button class="mediumIcon"  *ngIf="mobileMode" (click)="closeContact()">
              <mat-icon [inline]="true">keyboard_return</mat-icon>
            </button>
          </mat-card-header>
        </mat-card>
      </section>

      <!-- Chat History -->
      <section #chatHistoryContainer #scrollMe [scrollTop]="scrollMe.scrollHeight" class="message-history-container">

        <div class="message-container" *ngFor="let chatMessage of selectedContact?.chatHistory">
          <div class="image">
            <img alt="{{ getSenderName(chatMessage) }}" src="{{ getSenderAvatar(chatMessage) }}">
          </div>
          <div class="title">{{ getSenderName(chatMessage) }}</div>
          <div class="subtitle">{{ chatMessage?.date | date }}</div>
          <div class="content">
            <span>{{chatMessage.content}}</span>
          </div>
        </div>

      </section>

      <!-- Message Typing area -->
      <section class="type-message-container">
        <div class="message-type-area">

          <mat-form-field appearance="fill" style="width: 100%; background-color: grey;">
            <mat-label>Start typing</mat-label>
            <input #messageinput matInput (keyup.enter)="sendMessage(messageinput.value)" placeholder="Type your message">
            <button mat-icon-button matSuffix (click)="sendMessage(messageinput.value)" [attr.aria-label]="'Send'">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>

        </div>
      </section>

    </section>

  </div>


</section>
