<mat-card style="width: 25%; min-width: 300px; margin: auto; margin-top: 20px;">
  <p style="text-align: center;">Create your account now, it's easy!</p>
  <mat-card-content>

    <p>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Your Name</mat-label>
        <input #nameInput matInput matNativeControl placeholder="Type your name">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input #emailInput type="email" matInput matNativeControl placeholder="Type your email">
      </mat-form-field>
    </p>

  </mat-card-content>
  <mat-card-footer>
    <p>
      <button mat-raised-button color="primary" (click)="signup(nameInput.value, emailInput.value)" style="margin-left: 20px;">
        Create Account
      </button>
      <button mat-raised-button color="accent" (click)="login()" style="margin-left: 20px;">
        Login
      </button>
    </p>
  </mat-card-footer>
</mat-card>
