<mat-card *ngIf="signingUp" class="card">
  <mat-card-content>
    <p style="text-align: center">Signing you up</p>
    <p>
      <mat-spinner style="margin: auto"></mat-spinner>
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!signingUp" class="card">

  <p style="text-align: center;">Create your account now, it's easy!</p>

  <div *ngIf="error" class="errorMessageBox">
    <p>{{errorMessage}}</p>
  </div>

  <mat-card-content>

    <p>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Your Name</mat-label>
        <input #nameInput matInput  placeholder="Type your name">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Username</mat-label>
        <input #usernameInput matInput placeholder="Type your username">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input #passwordInput matInput [type]="hide ? 'password' : 'text'" placeholder="Type your password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>

  </mat-card-content>
  <mat-card-footer>
    <p>
      <button mat-raised-button color="primary" (click)="signup(nameInput.value, usernameInput.value, passwordInput.value)" style="margin-left: 20px;">
        Create Account
      </button>
      <button mat-raised-button color="accent" (click)="login()" style="margin-left: 20px;">
        Login
      </button>
    </p>
  </mat-card-footer>
</mat-card>
