/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background-color);
}

:root {
  --toolbar-color: #400d40;
  --contacts-bar-color: #4a154b;
  --selected-item-color: #1264a3;
  --toolbar-fixed-height: 56px;
  --mobile-max-width-size: 450px;
  --background-color: #303030;
  --old-chat-history-background-color: #CED0CE;
  --chat-history-background-color: whitesmoke;
  --primary-color: #7b1fa2;
}

.errorMessageBox {
  padding: 5px 10px;
  border: 1px solid red;
  color: white;
  border-radius: 10px;
}
