/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background-color);
}

:root {
  --mobile-max-width-size: 450px;
  --background-color: #303030;
}

.errorMessageBox {
  padding: 3px;
  margin: 10px 0;
  background: #f08981;
  border: 1px solid red;
  text-align: center;
  color: white;
}
